API_KEY = "XX-XXXXXXXXXXXXXXXXXXXXXXXXXXX"
API_URL = "https://myapi.com/api"

#BigQuery Project Credentials

GOOGLE_APPLICATION_CREDENTIALS   = "server/credentials/service_account_key_name.json"
ANALYTICS_DATASET_ID             = "warehouse_analytics"
ANALYTICS_TABLE_ID               = "coin_markets_features"