API_KEY = "XX-XXXXXXXXXXXXXXXXXXXXXXXXXXX"
API_URL = "https://myapi.com/api"

#BigQuery Project Credentials

PROJECT_ID          = "coingecko-etl-pipeline"
SILVER_DATASET      = "coin_markets"
SILVER_TABLE_NAME   = "silver_coin_markets"

GOOGLE_APPLICATION_CREDENTIALS   = "server/credentials/service_account_key_name.json"
ANALYTICS_DATASET_ID             = "warehouse_analytics"
ANALYTICS_TABLE_ID               = "coin_markets_features"

GOOGLE_CREDENTIALS_B64           = "XXXXXXXXXXXXXXXXXXXXXXX"

#Front End Visualization

FRONTEND_API_URL_LIST = ["http://localhost:3000","https://yourdomain.com"]